<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Code Analysis" ToolsVersion="15.3">
    <Rules AnalyzerId="Microsoft.CodeQuality.Analyzers" RuleNamespace="Microsoft.CodeQuality.Analyzers">
        <!-- Identifiers should not contain underscores -->
        <Rule Id="CA1707" Action="None" />
        <!-- Identifiers should not match keywords -->
        <Rule Id="CA1716" Action="None" />
        <!-- Identifiers should not contain type names -->
        <Rule Id="CA1720" Action="None" />
        <!-- Operator overloads have named alternates -->
        <Rule Id="CA2225" Action="None" />
    </Rules>
</RuleSet>
