<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Code Analysis" ToolsVersion="10.0">
    <IncludeAll Action="Error" />
    <Rules AnalyzerId="Microsoft.CodeQuality.Analyzers" RuleNamespace="Microsoft.CodeQuality.Analyzers">
        <!-- Identifiers should not match keywords -->
        <Rule Id="CA1716" Action="None" />
        <!-- Identifiers should not contain type names -->
        <Rule Id="CA1720" Action="None" />
    </Rules>
</RuleSet>
